%h1 Milestone types

%table#gradient-table
  %tr
    %th=sortable "name"
    %th Edit
    %th Delete

  - @milestones.each do |milestone|
    %tr
      %td= milestone.name
      %td= link_to (image_tag 'edit.png'), edit_milestone_path(milestone)
      %td= link_to (image_tag 'delete.png'), milestone, :confirm => 'Are you sure?', :method => :delete
